@import '../variables.scss';

.benefit{
    transition: 0.3s;
    text-align: center;
    margin: 15px;
    font-size: 45px;
    cursor: pointer;
    p{
        margin: 0;
        font-size: 25px;
    }
    #price{
        font-size: 18px;
    }
}
.benefit:hover{
    transition: 0.3s;
    color: #1E90FF;
}