@import '../variables.scss';

.profile{
    margin: 30px auto;
  background: $highlightTextColor;
  height: 70vh;
  width: 90%;
  position: relative;
  border-radius: 30px;
  position: relative;
  padding: 15px;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  .content{
    background: white;
    margin:0px 10px 10px 0px;
    border-radius: 0px 15px 15px 0px;
    max-height: 100%;
    max-width: 100%;
    padding: 30px;
  }
}