@import "../variables.scss";

.shop {
  margin: 30px auto;
  background: $highlightTextColor;
  height: 70vh;
  width: 90%;
  position: relative;
  border-radius: 30px;
  position: relative;
  .shopContent {
    position: absolute;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    width: 97%;
    height: 94%;
    border-radius: 30px;
    overflow: hidden;
    .benefits {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;
      height: 70%;
      overflow-y: scroll;
      box-sizing: content-box;
    }
    ::-webkit-scrollbar {
      width: 0; /* Remove scrollbar space */
      background: transparent; /* Optional: just make scrollbar invisible */
    }
    .selectedBenefits {
      border: 4px solid $primaryColor;
      border-radius: 30px;
      text-align: center;
      margin: 20px;
      padding: 20px;
      height: 60%;
      overflow-y: scroll;
    }
  }
  .shopFooter {
    position: absolute;
    bottom: 0;
    left: 0;
    background: $highlightTextColor;
    width: 97.6%;
    border-radius: 10px 10px 20px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    .total {
      p{
          border: none;
      }
    }
    p {
      border: 2px solid white;
      border-radius: 20px;
      padding: 5px;
      width: 40%;
    }
    #plateste {
      padding: 10px 40px;
    }
  }
}
