$primaryColor:#1E90FF;
$secondaryColor:white;
$highlightTextColor:linear-gradient(180deg, #4C9AE6 0%, #8F00FF 120.21%);
$font:'Raleway', sans-serif;
$bannerColor:linear-gradient(180deg, #4C9AE6 0%, #8F00FF 120.21%);
$margin:80px;
$mobileFontSize:25px;
$navbarBackground:linear-gradient(102.61deg, #7300CF -8.43%, #8E00FF 8.35%, #8E00FF 15.92%, #339AFF 69.49%, #339AFF 77.61%, #0076EA 95.47%);
$footerBackground:#0A3E70;
$footerTextColor:#FCFFFF;
$signUpBtnBackground:#73B9FF;
$loginBtnBackground:#2D8BE7;
$loginBorder:#73B9FF;