$primaryColor:#1E90FF;
$secondaryColor:white;
$highlightTextColor:linear-gradient(180deg, #4C9AE6 0%, #8F00FF 120.21%);
$font:'Raleway', sans-serif;
$bannerColor:linear-gradient(180deg, #4C9AE6 0%, #8F00FF 120.21%);
$margin:80px;
$mobileFontSize:25px;